# **Data Transformation Notebook** üõ†Ô∏è

## üìå Overview
In this notebook, we focus on cleaning and preprocessing the extracted data to ensure consistency and usability for further analysis. This involves handling missing values, converting data types, and applying transformations that make the dataset ready for storage and analysis.

---


## Objectives  
‚úÖ Identify and clean missing or inconsistent data.  
‚úÖ Convert numeric and date fields to the correct data types.  
‚úÖ Replace invalid or empty values with appropriate defaults.  
‚úÖ Ensure data integrity for seamless analysis.

In [46]:
import pandas as pd
import numpy as np
%store -r df 

# 1. Data Cleaning and Preprocessing
for col in df.columns:
    if df[col].dtype == object:
        # Replacing empty strings and whitespace with NaN in object columns
        df[col] = df[col].replace('', np.nan).replace(r'^\s*$', np.nan, regex=True)

    if col in ['price', 'quantity_sold', 'cost', 'quantity_on_hand']:
        # Converting numeric columns to numeric types, setting errors='coerce' to handle invalid parsing by setting them to NaN
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    if col == 'cust':
        # Ensuring that the 'cust' column is of string type
        df[col] = df[col].astype(str)

    if col in ['purchase_date', 'date_sold']:
        # Converting date columns to datetime format, with invalid entries turned to NaT (Not a Time)
        df[col] = pd.to_datetime(df[col], errors='coerce').dt.date

## 3Ô∏è‚É£ Handling Missing Values
We apply appropriate strategies to handle missing values based on column types:

- Numeric columns ‚Üí Fill with the median value.
- Categorical columns ‚Üí Fill with the most frequent value.
- Date columns ‚Üí Use a placeholder date or forward-fill strategy.

In [ ]:
# Handling missing values
# 2. Fill missing values for numeric columns with the median
df['cost'] = df['cost'].fillna(df['cost'].median())  # or df['cost'].mean()
df['price'] = df['price'].fillna(df['price'].median())  # or df['price'].mean()
df['quantity_sold'] = df['quantity_sold'].fillna(df['quantity_sold'].median())  # or df['quantity_sold'].mean()

# 3. Fill missing 'unit' values with the most frequent value (mode)
df['unit'] = df['unit'].fillna(df['unit'].mode()[0])  # Most frequent value for 'unit'

# 4. Fill missing 'purchase_date' and 'date_sold' values with a placeholder date (or forward fill)
df['purchase_date'] = df['purchase_date'].fillna(pd.to_datetime('2022-01-01'))
df['date_sold'] = df['date_sold'].fillna(pd.to_datetime('2022-01-01'))

# 5. Fill missing 'vendor' with 'Unknown'
df['vendor'] = df['vendor'].fillna('Unknown')

# 6. Optional: Fill missing 'cust' with a placeholder string or forward fill (if needed)
df['cust'] = df['cust'].fillna('Unknown')

## 4Ô∏è‚É£ Validating the Transformations
To confirm that our cleaning steps were effective, we check for any remaining missing values and verify data types.

In [49]:
# Checking the transformations
print(df.isnull().sum())  # Checking the number of missing values in each column
print(df.isna().any())  # Checking if any column still has NaN values

# Displaying a preview of specific columns to verify the results
print(df[['item_id', 'quantity_on_hand', 'cost', 'purchase_date', 'vendor']].head())

# Checking the data types of the columns to ensure they are as expected
print(df[['item_id', 'quantity_on_hand', 'cost', 'purchase_date', 'vendor']].dtypes)

item_id             0
description         0
quantity_on_hand    0
cost                0
purchase_date       0
vendor              0
price               0
date_sold           0
cust                0
quantity_sold       0
item_type           0
location            0
unit                0
dtype: int64
item_id             False
description         False
quantity_on_hand    False
cost                False
purchase_date       False
vendor              False
price               False
date_sold           False
cust                False
quantity_sold       False
item_type           False
location            False
unit                False
dtype: bool
   item_id  quantity_on_hand  cost purchase_date  \
0     1000                29  2.35    2022-02-01
1     1000                27  1.52    2022-01-01
2     2000                 3  1.52    2022-01-01
3     1100                13  1.52    2022-01-01
4     1100                53  0.69    2022-02-02

                                              vendor
0          Bennet Farms, Rt. 17 Evansville, IL 55446
1                                            Unknown
2                                            Unknown
3                                            Unknown
4  Freshness, Inc., 202 E. Maple St., St. Joseph,...
item_id               int64
quantity_on_hand      int64
cost                float64
purchase_date        object
vendor               object
dtype: object

In [11]:
df_cleaned.head()

,item_id,description,quantity_on_hand,cost,purchase_date,vendor,price,date_sold,cust,quantity_sold,item_type,location,unit
0,1000,Bennet Farm free-range eggs,29,2.35,2022-02-01,"Bennet Farms, Rt. 17 Evansville, IL 55446",3.99,2022-01-01 00:00:00,nan,4.0,D12,dozen,bunch
1,1000,Bennet Farm free-range eggs,27,1.52,2022-01-01 00:00:00,Unknown,5.49,2022-02-02,198765.0,2.0,Dairy,D12,dozen
2,2000,Ruby's Kale,3,1.52,2022-01-01 00:00:00,Unknown,3.99,2022-02-02,nan,2.0,Produce,p12,bunch
3,1100,Freshness White beans,13,1.52,2022-01-01 00:00:00,Unknown,1.49,2022-02-02,202900.0,2.0,Canned,a2,12 ounce can
4,1100,Freshness White beans,53,0.69,2022-02-02,"Freshness, Inc., 202 E. Maple St., St. Joseph,...",3.99,2022-01-01 00:00:00,nan,4.0,a2,12 oz can,bunch

In [24]:
df.isnull().sum()
print(df.dtypes)  # Confirming the correct data types

item_id               int64
description          object
quantity_on_hand      int64
cost                float64
purchase_date        object
vendor               object
price               float64
date_sold            object
cust                 object
quantity_sold       float64
item_type            object
location             object
unit                 object
dtype: object

### üìå 4. Store Transformed Data

In [65]:
# Create a copy of the cleaned DataFrame
df_cleaned = df.copy()

# Store the cleaned DataFrame for later use
%store df_cleaned

Stored 'df_cleaned' (DataFrame)

In [69]:
df_cleaned.to_csv('data_cleaned.csv', index=False)

CSV file is created to store data cleaned


üìå *The cleaned dataset is now stored and ready for loading into a database in the next step.*

## ‚úÖ Summary
- ‚úîÔ∏è Cleaned text fields and replaced empty values with NaN.
- ‚úîÔ∏è Converted numeric and date columns to appropriate formats.
- ‚úîÔ∏è Filled missing values based on data relevance.
- ‚úîÔ∏è Verified data integrity for further analysis.

    
## Next Step: 
Proceed to the Data Loading Notebook, where we store the transformed data into a relational database for structured querying and analysis.