In [24]:
import boto3

# No need to manually specify credentials
s3 = boto3.client("s3")

# List buckets to confirm access
buckets = s3.list_buckets()

# Print bucket names
for bucket in buckets["Buckets"]:
    print(bucket["Name"])

data-analytics-001

In [27]:
import pandas as pd
import io

try:
    obj = s3.get_object(Bucket=bucket_name, Key=key)
    df = pd.read_csv(io.BytesIO(obj['Body'].read()))

    # Now 'df' is your Pandas DataFrame containing the data from the CSV
    print(df.head())  # Print the first few rows to verify

except Exception as e:
    print(f"Error: {e}")

   item_id                  description  quantity_on_hand  cost purchase_date  \
0     1000  Bennet Farm free-range eggs                29  2.35      2/1/2022
1     1000  Bennet Farm free-range eggs                27   NaN           NaN
2     2000                  Ruby's Kale                 3   NaN           NaN
3     1100        Freshness White beans                13   NaN           NaN
4     1100        Freshness White beans                53  0.69      2/2/2022

                                              vendor  price date_sold  \
0          Bennet Farms, Rt. 17 Evansville, IL 55446    NaN       NaN
1                                                NaN   5.49  2/2/2022
2                                                NaN   3.99  2/2/2022
3                                                NaN   1.49  2/2/2022
4  Freshness, Inc., 202 E. Maple St., St. Joseph,...    NaN       NaN

       cust quantity_sold item_type   location          unit
0       NaN         Dairy       D12      dozen           NaN
1  198765.0             2     Dairy        D12         dozen
2       NaN             2   Produce        p12         bunch
3  202900.0             2    Canned         a2  12 ounce can
4       NaN        Canned        a2  12 oz can           NaN

In [31]:
df.head()

,item_id,description,quantity_on_hand,cost,purchase_date,vendor,price,date_sold,cust,quantity_sold,item_type,location,unit
0,1000,Bennet Farm free-range eggs,29,2.35,2/1/2022,"Bennet Farms, Rt. 17 Evansville, IL 55446",NaN,NaN,NaN,Dairy,D12,dozen,NaN
1,1000,Bennet Farm free-range eggs,27,NaN,NaN,NaN,5.49,2/2/2022,198765.0,2,Dairy,D12,dozen
2,2000,Ruby's Kale,3,NaN,NaN,NaN,3.99,2/2/2022,NaN,2,Produce,p12,bunch
3,1100,Freshness White beans,13,NaN,NaN,NaN,1.49,2/2/2022,202900.0,2,Canned,a2,12 ounce can
4,1100,Freshness White beans,53,0.69,2/2/2022,"Freshness, Inc., 202 E. Maple St., St. Joseph,...",NaN,NaN,NaN,Canned,a2,12 oz can,NaN

In [35]:
%store df

Stored 'df' (DataFrame)

In [20]:
import os
print(os.getcwd())

import sys
sys.path.append(r"C:\Users\Darwin Choy\Documents\Portfolio projects\scripts")

# Set the working directory
os.chdir(r"C:\Users\Darwin Choy\Documents\Portfolio projects")

# Verify the change
print(os.getcwd())

C:\Users\Darwin Choy\Documents\Portfolio projects
C:\Users\Darwin Choy\Documents\Portfolio projects